{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'blog/style.css'%}">
    <title>Document</title>
</head>
<body>
    {% if autori %}
    <h1>Autori</h1>
    <div class="autori">
        {% for autor in autori %}
        <p>{{autor}}</p>
        {% endfor %}
    </div>
    <div class="obrazok">
<img src="{% static 'blog/autor.jpg' %}" alt="Autor">
    </div>
    {% endif %}
    {% if kategorie %}
    <h1>Kategórie</h1>
    <div class="kategorie">
        {% for kategoria in kategorie %}
        <p>{{kategoria}}</p>
        {% endfor %}
    </div>
    <div class="row">
        <div class="column">
    <img src="{% static 'blog/celebrity.png' %}" alt="Autor">
        </div>
        <div class="column">
    <img src="{% static 'blog/varenie.jpg' %}" alt="Autor">
        </div>
    {% endif %}
    {% if posty%}
    <h1>Posty</h1>
        {% for post in posty %}
    <div class="post">
        <div class = "text">
        <p><strong>{{post.nadpis}}</strong></p>
        <p><strong>Autor: </strong>{{post.autor.meno}} {{post.autor.priezvisko}} ({{post.autor.prezyvka}})</p>
        <p><strong>Kategória: </strong>{{post.kategoria}}</p>
        <p><strong>Dátum vytvorenia: </strong>{{post.create_date}}</p>
        <p>{{post.text}}</p>
    </div>
    </div>
        {% endfor %}
    {% endif %}
</body>
</html>