{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'skola/style.css'%}">
    <title>Document</title>
</head>
<body>
    <div class="riadok">
        <div class="stlpec">
        {% if studenti %}
        <h1>Študenti</h1>
        <div class="student">
            {% for student in studenti %}
            <p>{{student}}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}
    {% if ucitelia %}
    <div class ="stlpec">
    <h1>Učitelia</h1>
    <div class="ucitel">
        {% for ucitel in ucitelia %}
        <p>{{ucitel}}</p>
        {% endfor %}
    </div>
</div>
</div>
    {% endif %}
    <div class="riadok">
        <div class="stlpec">
        {% if triedy %}
        <h1>Triedy</h1>
        <div class="trieda">
            {% for trieda in triedy %}
            <b><p>{{trieda}}</p>
            {% endfor %}
        </div>
    </div>
</div>
    
    <div class="riadok">
        <div class="stlpec">
    <div class="obrazok">
        <img src="{% static 'skola/skola.jpg' %}" alt="Škola" title="Škola">
    </div>
</div>
</div>
{% endif %}
</body>
</html>

