{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'skola/style.css'%}">
    <title>{{trieda}}</title>
</head>
<body>
    <h1><a href="{% url 'skola' %}">Škola</a></h1>
    {% if trieda%}
    <h1>{{trieda}}</h1>
    {% endif %}
    {% if ucitel %}
    <div class ="stlpec">
    <h2>Triedny učiteľ</h2>
    <div class="ucitel">
        <p>{{ucitel}}</p>
    </div>
    {% endif %}
        {% if studenti %}
        <h2>Študenti</h2>
        <div class="student">
            {% for student in studenti %}
            <p>{{student}}</p>
            {% endfor %}
        </div>
    {% endif %}
</body>
</html>

