{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'shop/style.css'%}">
    <title>Document</title>
</head>
<body>
    {% if users %}
    <h1>Použivatelia</h1>
    <div class="uzivatel">
        {% for user in users %}
        <p>{{user}}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if orders %}
    <h1>Objednávky</h1>
    <div class="riadok">
        {% for order in orders %}
        <div class="stlpec">
        <div class="objednavka">
        <p><strong>Zákazník: </strong>{{order.user.meno}} {{order.user.priezvisko}}</p>
        <p><strong>Produkt: </strong>{{order.produkt.nazov}}</p>
        <p><strong>Čas objednania: </strong>{{order.datum}}</p>
        </div>
    </div>
        {% endfor %}
</div>
<div class="obrazok">
<img src="{% static 'shop/objednavka.png' %}" alt="Objednávka">
</div>
    {% endif %}
    {% if kategorie %}
    <h1>Kategórie</h1>
    <div class="kategorie">
        {% for kategoria in kategorie %}
        <p>{{kategoria}}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% if produkty%}
    <h1>E-shop</h1>
    <ul>
        {% for produkt in produkty %}
        <div class="produkt">
        <h3>{{produkt.nazov}}</h3>
        <p><strong>Kategória: </strong>{{produkt.kategoria}}</p>
        <p><strong>Výrobca: </strong>{{produkt.vyrobca}}</p>
        <p><strong>Cena: </strong>{{produkt.cena}}</p>
        <p><strong>Popis: </strong>{{produkt.popis}}</p>
    </div>
        {% endfor %}
    {% endif %}
</body>
</html>